NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_PROJECT_ID=
NEXT_PUBLIC_DESCOPE_PROJECT_ID=
SUPABASE_SERVICE_ROLE_KEY=service_role_key
SUPABASE_JWT_SECRET=
RESEND_API_KEY=
FROM_EMAIL=
SUPPORT_EMAIL=
DESCOPE_ISSUER=
DESCOPE_AUDIENCE=
DESCOPE_JWKS_URI=
DESCOPE_MGMT_KEY=
